.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(var(--contents-height) - var(--search-textarea-height) - 2 * var(--search-textarea-margin-y));
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--chat-bg);
}

.question-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  white-space: pre-wrap;
}

.chat-icon {
  display: flex;
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.question-icon {
  background-color: white;
}

.question {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  border: solid 1px black;
  color: white;
  min-height: 3rem;
  background-color: var(--teal);
  padding: 0.4rem;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word; 
}

.answer-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.answer-icon {
  background-color: white;
}

.answer {
  display: flex;
  border: solid 1px black;
  color: black;
  margin-right: 1rem;
  min-height: 3rem;
  background-color: var(--gpt-blue);
  padding: 0.4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}