* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  --navi-height: 6vh;
  --contents-height: 94vh;
  --teal: rgb(0, 132, 132);
  --gpt-blue: rgb(0, 208, 208);
  --chat-bg: rgb(191, 255, 255);
  --search-textarea-height: 6rem;
  --search-textarea-margin-y: 3px;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.border-radius-start {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.border-radius-end {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.border-radius-all {
  border-radius: 1rem;
}
