* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  --navi-height: 6vh;
  --contents-height: 94vh;
  --teal: rgb(0, 132, 132);
  --gpt-blue: rgb(0, 208, 208);
  --chat-bg: rgb(191, 255, 255);

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
::-webkit-scrollbar {
  display: none;
}

.border-radius-start {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.border-radius-end {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.border-radius-all {
  border-radius: 1rem;
}
