.search-wrapper {
  display: flex;
  flex-direction: row;
  border-top: black solid 1px;
  justify-content: center;
  align-items: center;
  height: 16%;
}

.seach-textarea {
  display: flex;
  resize: none;
  width: 94%;
  min-height: 6rem;
  max-height: calc(var(--contents-height) - 1rem);
  padding: 0.6rem;
  overflow: hidden;
  margin-left: 0.6rem;
  font-size: 1rem;
}

.search-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6%;
  min-height: 6rem;
  max-height: calc(var(--contents-height) - 1rem);
  margin-right: 0.6rem;
  background-color: var(--teal);
  color: white;
}
